.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  background-color: #61dafb;
}

.houseIcon {
  height: 12vh;
}
header {
  background-color: #61dafb;
}
.beerContainer {
  display: flex;
  justify-content: center;
}
.beerImage {
  height: 25vh;
}
.beerInfo {
  color: rgb(94, 92, 92);
  width: 30vh;
}
.singleBeerImage {
  height: 40vh;
}
.newBeerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.buttonForm {
  background-color: #61dafb;
  border-radius: 40px;
}
p {
  text-align: justify;
  padding: 0 25vw 0 25vw;
}
